/* MOBILE WORKFLOW: BASE CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#main-container{
    display: flex;
    height: 100%;
    width: 100%;
}


/* LEFT SECTION  */
.left-section{
    display: none;
}

/* RIGHT SECTION */
.right-section{
   width: 100%;
   padding:0 2rem;
}

/* NAVBAR SECTION */
.navbar, ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: capitalize;
    width: 100%;
    padding: 0.9rem 0 0 0;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}
ul li a{
    text-decoration: none;
    color: #0b1e4b;
}

.navbar ul a:hover{
    color: #ff4500;
    text-decoration: underline;
}
.navbar ul a:active{
    color: #0000ff;
}

.right-section aside{
    text-align: end;
    margin: 1rem 0.09rem 0 0;
    font-weight: bold;
}

aside a{
    text-decoration: none;
}

aside a:hover{
    color: #ff4500;
}

.school{
    text-align: center;
    margin-top: 0.07rem;
}

h1{
    color: #0b1e4b;
    font-weight: bold;
    margin-top: 1rem;
}


h2{
    font-size: 1rem;
    color: #85888d;
    margin-top: 1rem;
}

/* FORM SECTION */
form{
    width: 100%;
}

.name{
    margin-top: 2rem;
}

.name input{
    width: 100%;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.7rem;
    outline: none;
    padding: 1.5rem 1.2rem;
    font-size: 1rem;
    color: #85888d;
}

.name input:hover{
    border:0.05rem solid #6a6ff5;
}

.name input:focus{
    border: 0.08rem solid #0000ff;
}

.gender-option{
    margin-top: 2rem;
}

#gender{
    width: 100%;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.7rem;
    outline: none;
}

#gender:nth-of-type(1){
    color: #85888d;
    padding: 1.5rem 1.2rem;
    font-size: 1rem;
}

#gender option{
   background-color:#f5f5f5;
    color: #000000;
    font-size: 1rem;
}

#gender:focus{
    border: 0.08rem solid #0000ff;
}

.dob{
    margin-top: 2rem;
}

.dob input{
    width: 100%;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.7rem;
    outline: none;
}

.dob input[type="date"]{
    color: #85888d;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1.5rem 1.2rem
}

.dob input:hover{
    border:0.05rem solid #6a6ff5;
}

.dob:focus{
    border: 0.08rem solid #0000ff;
}

.mail{
    margin-top: 2rem;
}

.mail input{
    width: 100%;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.7rem;
    outline: none;
    padding: 1.5rem 1.2rem;
    color: #85888d;
    font-size: 1rem;
}

.mail input:hover{
    border:0.05rem solid #6a6ff5;
}

.mail input:focus{
    border: 0.08rem solid #0000ff;
}

.phone{
    margin-top: 2rem;
}

.phone input{
    width: 100%;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.7rem;
    outline: none;
    padding: 1.5rem 1.2rem;
    color: #85888d;
    font-size: 1rem;
}

.phone input:hover{
    border:0.05rem solid #6a6ff5;
}


.phone input:focus{
    border: 0.08rem solid #0000ff;
}

.country-country{
    margin-top: 2rem;
}

#country{
    width: 100%;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.7rem;
    outline: none;
}

#country:nth-of-type(1){
    color: #85888d;
    padding: 1.5rem 1.2rem;
    font-size: 1rem;
}

#country:focus {
    border: 0.08rem solid #0000ff;
}

#country option{
    background-color:#f5f5f5;
     color: #000000;
     font-size: 1rem;
 }

.states{
    margin-top: 2rem;
}

.states input{
    width: 100%;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.7rem;
    outline: none;
    padding: 1.5rem 1.2rem;
    font-size: 1rem;
    color: #85888d;
}

.states input:hover{
    border:0.05rem solid #6a6ff5;
}

.states input:focus{
    border:0.08rem solid  #0000ff;
}

.hear{
    margin-top: 2rem;
}
#about{
    width: 100%;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.7rem;
    outline: none;
}

#about:nth-of-type(1){
    color: #85888d;
    padding: 1.5rem 1.2rem;
    font-size: 1rem;
}

#about:focus{
    border:0.08rem solid  #0000ff;
}

#about option{
    background-color:#f5f5f5;
     color: #000000;
     font-size: 1rem;
 }

 .first-password{
    margin-top: 2rem;
 }

 .first-password input{
    width: 100%;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.7rem;
    outline: none;
    padding: 1.5rem 1.2rem;
    font-size: 1rem;
    color: #85888d;
}

.first-password input:hover{
    border:0.05rem solid #6a6ff5;
}

.first-password input:focus{
    border:0.08rem solid  #0000ff;
}

.second-password{
    margin-top: 2rem;
 }

 .second-password input{
    width: 100%;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.7rem;
    outline: none;
    padding: 1.5rem 1.2rem;
    font-size: 1rem;
    color: #85888d;
}

.second-password input:hover{
    border:0.05rem solid #6a6ff5;
}

.second-password input:focus{
    border:0.08rem solid  #0000ff;
}

.form-footer{
    margin-top: 2rem;
    width: 100%;
}

.form-footer a{
    text-decoration: none;
    color: #6a6ff5;
}

button{
    margin-top: 2rem;
    width: 100%;
    padding: 1.5rem 1.2rem;
    font-size: 1rem;
    background-color: #6a6ff5;
    color: #ffffff;
    border: none;
    border-radius: 0.7rem;
    font-weight: bold;
}

.copy{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 2rem 0;
    color: #ff0000;
    font-weight: bold;
}




/* MEDIA QUERIES FOR TABLET*/

@media (min-width:768px) {
    .first-lastname,.email-phone,.password-div{
        display: flex;
        gap: 1rem;
    }
    #gender-dob,#country-state{
        display: flex;
        gap: 1rem;
    }
    .name,.mail,.phone,.first-password,.second-password,
    .states,.dob,.country-country,.gender-option{
        width: 100%;
    }
}

/* MEDIA QUERIES FOR LAPTOP */

@media (min-width:1024px){
    .left-section{
        display: block;
        background-color: #fff6ed;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
    }
    .left-section > img{
        width: 100%;
        max-width: 70%;
        margin: 2rem auto 1rem auto;
    }
    .school{
        display: none;
    }
    .learn-hassle p{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: 0;
        padding-top: 0;
    }
    
    .icons-div {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
    .icons-div img{
        width: 1rem;
        margin: 0.5rem 0;
    }
    .copyright{
        display: flex;
        justify-content: left;
        margin: 1rem 2rem;
        color: #ff0000;
        font-weight: bold;
        font-size: 0.8rem;
    }
    .copy{
        display: none;
    }
    footer{
        text-align: center;
        font-size: 0.875rem;
    }
    
    footer a{
        color: #808080;
        text-decoration: none;
        margin: 0.2rem 0;
    }
    
    footer p{
        color: #000000;
        font-weight: bold;
        margin: 0.2rem 0;
    }
    .right-section{
        width: 55%;
        position: absolute;
        right: 0;
        top: 0;
     }
    }

